.article--page {
  padding: 50px 0;
}
.article--image {
  width: 100%;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.slimilar--title--section {
  padding: 40px 0;
}
.article--detail .article--tagbox {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article--tagbox .article--tagbox--category a {
  display: inline-block;
  background: #37c47a;
  border-radius: 5px;
  padding: 4px 33px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}
.article--tagbox .article--tagbox--date a {
  font-size: 15px;
  line-height: 22px;
  color: #019dea;
  font-weight: 400;
}

.article--disc p {
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
  font-weight: 400;
  color: #e5f0ff;
  margin-bottom: 1.5rem;
}

.article--social--contact a:hover {
  color: #fff;
}

.article--social--contact a {
  display: flex;
  padding: 5px 7px;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
  font-weight: 400;
  min-width: 80px;
  text-align: center;
  margin-right: 20px;
  border-radius: 10px;
  font-family: "poppins", sans-serif;
}
.article--social--contact {
  display: flex;
}
.article--social--contact a.social--twitter {
  background: #00aced;
}
.article--social--contact a.social--fb {
  background: #3b5998;
}
.article--social--contact a.social--vk {
  background: #4680c2;
}

.article--social--contact img {
  margin-right: 5px;
}

.similar--article--wrapper {
  width: 100%;
}

.similar--article--post .post--wrap {
  background: rgba(10, 31, 58, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.post--detail .post--tagbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}
.post--tagbox .post--tagbox--category a {
  display: inline-block;
  border-radius: 5px;
  padding: 4px 33px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}

.post--tagbox .post--tagbox--category a.spotlight {
  background-color: #f2994a ;
}

.post--tagbox .post--tagbox--category a.trending {
  background-color: #5d32e9 ;
}

.post--tagbox .post--tagbox--category a.safety,
.post--tagbox .post--tagbox--category a.photography {
  background-color: #37c47a ;
}

.post--tagbox .post--tagbox--category a.guide {
  background-color: #e932be ;
}

.post--tagbox .post--tagbox--date a {
  font-size: 15px;
  line-height: 22px;
  color: #019dea;
  font-weight: 400;
}

.post--detail {
  padding: 20px;
}
.post--detail .post--title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.post--detail .post--disc {
  font-size: 14px;
  line-height: 22px;
  color: #b1bbd4;
  font-weight: 300;
}

.responsive--similar--post {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .article--page {
    padding: 70px 50px !important;
  }
  .article--page .disktop-- {
    display: none;
  }
  .responsive--similar--post {
    display: block !important;
  }
  .responsive--similar--post .similar--article--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .responsive--similar--post .similar--article--post {
    width: 48%;
    margin-bottom: 25px;
  }
  .post--wrap .post--img img {
    width: 100%;
  }
}
@media screen and (max-width: 993px) {
  .article--page {
    width: 90% !important;
    padding: 70px 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .article--page {
    width: 100% !important;
    padding: 30px 30px !important;
  }
  .responsive--similar--post .similar--article--post {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 600px) {
  .article--tagbox .article--tagbox--category a,
  .post--tagbox .post--tagbox--category a {
    padding: 4px 15px;
  }
  .article--tagbox .article--tagbox--date a,
  .post--tagbox .post--tagbox--date a {
    font-size: 12px;
  }
}
