
.authors-page {
    background: #050D1D;
    
}

.ban-bottom-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: -65px auto;
    display: table;
    width: 130px;
}
.authos-tablistsss button{
    padding-left: 0px !important;
}
.authors-page  .css-c2k196[aria-selected="true"]{
    background: none !important;
  
}
.icons-collection {
    display: flex;
    width: 36px;
    height: 36px;
    background: #0a1f3a;
    border-radius: 60px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.coll-social-icon {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.icon-list-main {
    display: flex;
}

.icon-list-main li {
    margin: 0 7px 0 0;
}

.authors-page .aurthor-tabpanel {
    padding: 0px;
}

.authos-tablistsss button.true,
.authos-tablistsss button {
    position: relative;
    background: none;
    border-bottom: none;
    font-size: 16px !important;
    color: #B1BBD4 !important;
    font-weight: 500 !important;
}

.authos-tablistsss button[ aria-selected="true"]:before,
.authos-tablistsss button[ aria-selected="true"]:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    width: 100%;
    height: 5px;
    border-bottom: 5px solid #019DEA;
    border-radius: 3px;
}

.authos-tablistsss i {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}


.collection-heading {
    font-family: 'Poppins', sans-serif;

    font-weight: 500 !important;
    font-size: 25px !important;
    color: #FFFFFF;
}

.authos-tablistsss {
    padding: 0 0 20px 0;
    border-bottom: 1px solid #3E526C !important;
    margin-top: 40px;
    flex-wrap: wrap;
}


.collection-date {
    font-family: 'Poppins', sans-serif;

    font-weight: 500 !important;
    font-size: 12px !important;
    color: #B1BBD4 !important;
    margin-top: 16px;
    margin-bottom: 24px;
}

.collection-date span {
    color: #019DEA !important;
}

.collection-para {
    font-family: 'Poppins', sans-serif;

    color: #B1BBD4;
    font-size: 15px;

}

.menu1,
.menu2,
.menu3,
.menu4 {
    width: 24% !important;
}

.collection-detail-main {
    text-align: center;
    margin-top: 30px;
}

.collection-result {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 40px auto 0;
    max-width: 620px;
}

.collection-result ul {
    background: rgba(10, 31, 58, 0.3);
    border-radius: 20px;
    padding: 20px;
}

.result-collection {
    font-family: 'Poppins', sans-serif;
    font-size: 13px !important;
    color: #B1BBD4;
    display: block;
}

.list-result,
.list-result-last {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-right: 0.5px solid #3E526C;
    padding: 0 23px;
}

.list-result strong,
.list-result-last strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    font-size: 20px !important;
    color: #FFFFFF !important;
    display: flex;
}

.list-result-last {
    border-right: none !important;
}

.button-tab {
    font-family: 'Poppins', sans-serif;
    background: #050D1D !important;
    border: 1px solid rgba(94, 102, 125, 0.7) !important;
    border-radius: 10px;
    background: none;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #fff;
    padding: 10px 20px !important;
    width: 100%;
    text-align: left;
}

.authors-page .tabs {
    justify-content: space-between;
    flex-wrap: wrap;
}

.four-tabs-collection {
    margin-top: 24px;
}

.title-item {
    font-family: 'Poppins', sans-serif;
    color: #B1BBD4;
    font-size: 12px !important;
    margin: 0 0 10px;
}

.title-code-- {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.price-items-- {
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    color: #B1BBD4;
    margin: 0 0 10px;

}

.pirce-strong-val {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-size: 14px !important;
    display: flex;
    vertical-align: middle;
    color: #FFFFFF;
    margin: 0 0 15px;
}

.pirce-strong-val img,
.heart-cion img {
    margin-right: 8px !important;
}

.heart-cion img {
    width: 15px !important;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.heart-cion {
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important;
    color: #B1BBD4;
}

.aboutItem-collecton-box {
    width: 24%;
    margin-bottom: 24px;
    border-radius: 10px !important;
    overflow: hidden;
}

.aboutItemData {
    display: flex !important;
    justify-content: space-between;
    padding: 20px;
    background: #0A1F3A;


}

.aboutItem-Collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.itemTitlePrice {
    text-align: end;
}

.priceicon00 {
    margin-right: 6px;
}

.coll-social-icon2,
.tab-version-photo {
    display: none !important;
}

td .handiconText,
.imageText,
td .diamondiconText {
    display: flex;
}

.handiconText {
    font-family: 'Poppins', sans-serif !important;

    font-size: 14px !important;
    color: #FFFFFF;

}

.imgTextOne {
    font-family: 'Poppins', sans-serif !important;
    padding-right: 10px !important;
    font-size: 10px !important;
    color: #B1BBD4;
}

.image-right-section,
.diamondiconText,
.qty {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    color: #fff;
    padding-left: 8px;
}
.authors-page .from,
.authors-page .to,
.authors-page .timess {
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;
    color: #019DEA;
    text-align: right !important;
}
.activity-table-panel tr th:nth-child(3),
.activity-table-panel tr th:nth-child(5),
.activity-table-panel tr th:nth-child(6),
.activity-table-panel tr th:nth-child(7) {
    padding-right: 0px !important;
    text-align: end !important;
}
.activity-table-panel tr th:nth-child(4){
    text-align: center !important;
}
.activity-table-panel tr th:nth-child(1), .activity-table-panel tr th:nth-child(2){
text-align: start !important;
}

.authors-page .activity-table-panel td {
    border-bottom: 1px solid #3E526C !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.authors-page .qty {
    text-align: center !important;
}
.authors-page td .diamondiconText{
    justify-content: end !important;
}
.authors-page .handiconText img{
    margin-right: 8px !important;
}
.aurthor-mobile-acitivy-list{
display: none;
}
.responsive-activty-section{
    padding-bottom: 40px !important;
}

@media screen and (max-width: 1200px) {
 .authors-page   .collection-page-all {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4 {
        width: 48% !important;

    }

    .menu3,
    .menu4 {
        margin-top: 16px;
    }

    .aboutItem-collecton-box {
        width: 48%;
    }

    .aurImg {
        width: 100% !important;
        height: auto;
    }


}

@media screen and (max-width: 993px) {
    .aurthor-web-table{
        display: none !important;
    }
    .aurthor-mobile-acitivy-list{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #3E526C !important;
        padding:25px 0px;
    }
    .aurthor-list-mobile , .diamondiconText{
        display: flex;
    }
    .diamondiconText {
        padding-left: 10px;
    }
    .ban-bottom-img {
        position: absolute;
        left: 0;
        right: 0;
        margin: -50px auto;
        display: table;
        width: 80px;
    }
    .aurthor-list-mobile{
        width: 50%;
    }

    .banner-collection {
        width: 90%;
        padding: 0px;
        margin: auto;
    }

    .list-result strong,
    .list-result-last strong {
        justify-content: center;
    }

    .collection-result {
        max-width: 100%;
    }

    .collection-result ul {
        display: flex;
        justify-content: space-between;
        width: 100% !important;
        margin-left: 0px !important;
    }

    .collection-result ul li {
        width: 25%;
        padding: 0 12px !important;
    }
}

@media screen and (max-width: 768px) {


    .coll-social-icon,
    .web-verion-photo {
        display: none !important;
    }

    .coll-social-icon2,
    .tab-version-photo {
        display: block !important;
    }

    .icon-list-main {
        margin-top: 30px;
        justify-content: center;
    }

  .authors-page  .collection-page-all {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .banner-collection {
        width: 100%;


    }

    .collection-result ul {
        flex-wrap: wrap;
        padding: 10px !important
    }

    .collection-result {
        padding: 0 15px;
    }

    .aboutItem-collecton-box {
        width: 100%;
    }

    .four-tabs-collection .tabs {
        display: none;
    }

    .collection-result ul li {
        width: 50%;
        border: none;
        padding: 15px 3px !important;
    }

    .tab-version-photo {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

}

@media screen and (max-width: 538px) {
    .authos-tablistsss button{
        font-size: 14px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media screen and (max-width: 500px) {
    .collection-detail-main {
        text-align: center;
        margin-top: 45px;
    }
}
@media screen and (max-width: 445px) {
    .authos-tablistsss button{
        font-size: 12px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}