.create-page .row .colum-left {
  width: 60%;

  margin-right: 40px;
}
.create-page .row .colum-right {
  width: 40%;
}

.colum-left a:hover,
.colum-left a {
  color: #09a3f0;
}

.colum-right h2.chakra-heading.css-1dklj6k,
.colum-left h2.chakra-heading.css-1dklj6k {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.colum-left .subitile {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #aab0c0;
}

.aboutitemcnt.css-3mh1jy {
  background-color: #0a1f3a;
}
.singleimg.css-0:hover,
.multiimg.css-0:hover {
  background-color: #112848;
}

.textwhitecolor {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 15px;
}
.textgraycolor {
  color: #b1bbd4;
  font-size: 14px;
  margin: 0 0 10px;
}

.aboutitemcnt img {
  max-width: 15px;
  display: inline-block;
  margin-right: 10px;
}
.aboutitemcnt strong {
  font-weight: 400;
}

.aboutitem.css-b1mumd {
  overflow: hidden;
}

.multiimg.css-0,
.singleimg.css-0 {
  width: 48%;
  background-color: #07162b;
  min-height: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.label {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.uploadsection .label {
  text-align: start;
}
.image-upload-wrap.css-0:hover {
  background-color: #112848;
}

.image-upload-wrap.css-0 {
  overflow: hidden;
  position: relative;
  background: rgba(10, 31, 58, 0.5);
  padding: 40px 30px;
  width: 100%;
  border-radius: 10px;
  display: block !important;
}

input.uploadinput {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.title-wrapouter {
  display: flex;
  border-radius: 10px;
  background: #07162b;
  padding: 15px;
}
.uploaded-img {
  width: 120px;
  min-width: 120px;
  height: 80px;
  background: #fff;
  border-radius: 7px;
}
.uploaded-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-title-wrap.css-0 {
  padding-left: 20px;
  color: #222;
  width: 100%;
}
.image-title {
  background: none;
  padding-left: 0;
  word-break: break-all;
  text-align: start;
}


button.chakra-button.remove-image.css-1d0ox2v:hover {
  color: white;
}
button.chakra-button.remove-image.css-1d0ox2v {
  color: #bb1818;
  border: none;
  padding: 9px 10px;
  transition: all 0.2s ease;
  background: transparent;
  font-size: 14px;
  margin: 0 !important;
  display: block;
  padding-left: 0;
  font-weight: normal;
  text-transform: capitalize;
}

.pricing .price.css-0 {
  width: 55%;
  margin-left: 0;
  margin-right: 25px;
}

.Description .label,
.choosecollection .label,
.Bids.css-0 .label,
.price.css-0 .label {
  text-align: start;
  padding: 10px 0;
}
.Description textarea,
.choosecollection input,
.price.css-0 input {
  background: rgba(10, 31, 58, 0.5);
  border-radius: 10px;
  border: 0;
  padding: 14px 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #fff;
  height: auto;
}

.Description textarea {
  height: 130px;
  resize: none;
}

textarea::placeholder,
input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
}

input {
  outline-offset: none !important;
}

select.selectioncollection {
  border: 1px solid rgba(94, 102, 125, 0.7);
  padding: 10px 20px;
  color: #fff;
  height: auto;
}
select.selectioncollection option {
  background-color: #070f20;
}

.Description,
.choosecollection {
  width: 75%;
}
select.selectioncollection:focus-visible {
  border-color: rgba(94, 102, 125, 0.7);
  box-shadow: none !important;
}
textarea:focus-visible,
input:focus-visible {
  box-shadow: none !important;
  border: none !important;
}

button.btn-create {
  border: none;
  min-width: 180px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  background: #019dea;
  font-weight: 500;
  padding: 20px;
}

.css-7roig[aria-checked="true"],
.css-7roig[data-checked] {
  -webkit-transform: translateX(34px) !important;
  -moz-transform: translateX(34px) !important;
  -ms-transform: translateX(34px) !important;
  transform: translateX(34px) !important;
}

/*  */

span.chakra-switch__thumb.css-7roig {
  background-color: #bfbfbf;
}

span.chakra-switch__track.css-4gq83g {
  width: 60px !important;
  background-color: white;
}
.css-4gq83g[aria-checked="true"],
.css-4gq83g[data-checked] {
  width: 60px !important;
  background-color: #019dea !important;
}

/* .box-section-custom {
  display: flex;
  width: 73px;
  margin-bottom: 12px;
  color: white;
} */

@media screen and (max-width: 1200px) {
  .chakra-container.create-page.css-gtq6fd {
    padding: 0 50px;
  }
  .colum-right h2.chakra-heading.css-1dklj6k,
  .colum-left h2.chakra-heading.css-1dklj6k {
    font-size: 25px;
  }
  .create-page .row .colum-left {
    margin-right: 30px;
  }
}

@media screen and (max-width: 993px) {
  .chakra-container.create-page.css-gtq6fd {
    width: 90%;
    padding: 0 30px;
  }

  .create-page .row {
    flex-direction: column;
  }

  .create-page .row .colum-left {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .create-page .row .colum-right {
    width: 100%;
  }

  .Description,
  .choosecollection {
    width: 100%;
  }
  button.btn-create {
    padding: 10px;
    min-width: 170px;
  }
  .css-b1mumd {
    margin-top: 2rem !important;
  }
  .css-1q304az {
    margin-bottom: 2rem !important;
  }

  .aboutitem.css-b1mumd {
    max-width: 460px ;
    margin: auto;
}
.colum-right h2.chakra-heading.css-1dklj6k, .colum-left h2.chakra-heading.css-1dklj6k{
    text-align: center;
}h2.chakra-heading.css-1dklj6k {
    margin-top: 2rem;
}


}

@media screen and (max-width: 768px) {
    .multiimg.css-0, .singleimg.css-0{
        background-color: transparent;
    }
  .aboutitem.css-b1mumd {
    max-width: 400px ;
}
  .chakra-container.create-page.css-gtq6fd {
    width: 100%;
    padding: 30px !important;
  }
  button.btn-create {
    min-width: 100%;
  }
}
