.chakra-text{
   color: #fff;
   font-size: 14px;
   /* padding-left: 10px; */
   
   }
  .abs-table .heading{
       width: 60%;
   }
.abs-table .numbr-section{
   display: flex;
   justify-content:start;
   align-items: center;
}
.abs-table .numbr-section img{
  margin-right: 8px;
}
.abs-table .id{
   display: flex;
   align-items: center;
   padding-right: 10px;
}
.abs-table .volume p , .price p{
   color: #fff;
   font-size: 14px;
}
.abs-table .hours p{
  text-align: end;
   font-size: 14px;
   color: #F25252;
}
.abs-table .days p{
   font-size: 14px;
   color: #4F8A60;
   text-align: end;
}
.owner p, .assest p{
   font-size: 14px;
   color: #C9C9C9;
   text-align: end !important;
}
.abs-table td{
   padding:16px 0px !important;
}
.abs-table .heading{
  display: flex;
  align-items: center;
}
.abs-table .heading p{
  font-family: 'Poppins', sans-serif;

  font-size: 14px !important;
} 
.abs-table .iconNPirce{
  text-align: center;
  justify-content: end;
}
.abs-table .volume-inner{
  justify-content: end;
}